body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #fafafa;
  color: #333;
  margin-top: 5rem;
  box-sizing: border-box;
}
html {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #333;
}

a.article-title:hover {
  text-decoration: none;
  color: #333;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.color-primary {
  color: #006fff;
}
/*
GAPS
*/
.gap-9 {
  gap: 0.9rem;
}
.gap-8 {
  gap: 0.8rem;
}
.gap-7 {
  gap: 0.7rem;
}
.gap-6 {
  gap: 0.6rem;
}
.gap-5 {
  gap: 0.5rem;
}
.gap-4 {
  gap: 0.4rem;
}
.gap-3 {
  gap: 0.3rem;
}
.gap-2 {
  gap: 0.2rem;
}
.gap-1 {
  gap: 0.1rem;
}
.account-heading {
  font-size: 2.5rem;
}
.w-85 {
  width: 90%;
}
.title-encuesta {
  outline: none;
  border-bottom: 0;
  transition: border-bottom 0.1s linear;
}
.title-encuesta:focus {
  outline: none;
  border-bottom: 4px solid #428bca !important;
}
.title-encuesta:hover {
  outline: none;
  border-bottom: 1px solid #444;
}
.pregunta-encuesta {
  font-size: 1.5rem;
  outline: none;
  border-bottom: 0;
  transition: border-bottom 0.1s linear;
}
.pregunta-encuesta:focus {
  outline: none;
  border-bottom: 2px solid #428bca !important;
}
.pregunta-encuesta:hover {
  outline: none;
  border-bottom: 0.5px solid #444;
}
.item-preg {
  outline: none;
  border-bottom: 0;
  font-size: 1rem;
  transition: border-bottom 0.1s linear;
}
.item-preg:focus {
  outline: none;
  border-bottom: 2px solid #428bca !important;
}
.item-preg:hover {
  outline: none;
  border-bottom: 0.5px solid #444;
}
.outline-none {
  outline: none;
}

.img {
  border-width: 0px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
  width: 257px;
  height: 209px;
}
/****
*/
.heading-secondary {
  font-size: 1.6875rem;
}
.description-container {
  min-width: 40rem;
}
.font-description {
  font-size: 0.875rem;
  margin-right: 2rem;
}

/*
BUTTONS
*/

.primary-button {
  border: none;
  background-color: #006fff;
  color: white;
  width: 10rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 3px;
}
.primary-button:hover {
  color: white;
}
.home-width {
  min-width: 70rem;
}
