body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #fafafa;
  color: #444;
  margin-top: 5rem;
  box-sizing: border-box;
}
html {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
/*
GAPS
*/
.gap-3 {
  gap: 0.3rem;
}

.account-heading {
  font-size: 2.5rem;
}
.w-85 {
  width: 90%;
}
.title-encuesta {
  outline: none;
  border-bottom: 0;
  transition: border-bottom 0.1s linear;
}
.title-encuesta:focus {
  outline: none;
  border-bottom: 4px solid #428bca !important;
}
.title-encuesta:hover {
  outline: none;
  border-bottom: 1px solid #444;
}
.pregunta-encuesta {
  font-size: 1.5rem;
  outline: none;
  border-bottom: 0;
  transition: border-bottom 0.1s linear;
}
.pregunta-encuesta:focus {
  outline: none;
  border-bottom: 2px solid #428bca !important;
}
.pregunta-encuesta:hover {
  outline: none;
  border-bottom: 0.5px solid #444;
}
.item-preg {
  outline: none;
  border-bottom: 0;
  font-size: 1rem;
  transition: border-bottom 0.1s linear;
}
.item-preg:focus {
  outline: none;
  border-bottom: 2px solid #428bca !important;
}
.item-preg:hover {
  outline: none;
  border-bottom: 0.5px solid #444;
}
.outline-none {
  outline: none;
}
html, body {
  width: 100%;
  height:100%;
}

body {
    background: linear-gradient(-45deg, #ffffff,  #cdd3d3, #ffffff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.new-nav-style{
  background: rgb(255, 255, 252);
  border-radius: 0.85rem;
}

.emp-profile{
  padding: 3%;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 0.85rem;
  background: #fff;
}
.profile-img{
  text-align: center;
  
}
.profile-img img{
  width: 70%;
  height: 100%;
  border-radius: 0.85rem;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5{
  color: #333;
}
.profile-head h6{
  color: #0062cc;
}
.profile-edit-btn{
  border: none;
  border-radius: 1.5rem;
  width: 70%;
  padding: 2%;
  font-weight: 600;
  color: #6c757d;
  cursor: pointer;
}
.proile-rating{
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.proile-rating span{
  color: #495057;
  font-size: 15px;
  font-weight: 600;
}
.profile-head .nav-tabs{
  margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
  font-weight:600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active{
  border: none;
  border-bottom:2px solid #0062cc;
}
.profile-work{
  padding: 14%;
  margin-top: -15%;
}
.profile-work p{
  font-size: 12px;
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work a{
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul{
  list-style: none;
}
.profile-tab label{
  font-weight: 600;
}
.profile-tab p{
  font-weight: 600;
  color: #0062cc;
}

