body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: #fafafa;
  color: #444;
  margin-top: 5rem;
  box-sizing: border-box;
}
html {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.container {
  max-width: 70%;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
/*
GAPS
*/
.gap-3 {
  gap: 0.3rem;
}

.account-heading {
  font-size: 2.5rem;
}
.w-85 {
  width: 90%;
}
.title-encuesta {
  outline: none;
  border-bottom: 0;
  transition: border-bottom 0.1s linear;
}
.title-encuesta:focus {
  outline: none;
  border-bottom: 4px solid #428bca !important;
}
.title-encuesta:hover {
  outline: none;
  border-bottom: 1px solid #444;
}
.pregunta-encuesta {
  font-size: 1.5rem;
  outline: none;
  border-bottom: 0;
  transition: border-bottom 0.1s linear;
}
.pregunta-encuesta:focus {
  outline: none;
  border-bottom: 2px solid #428bca !important;
}
.pregunta-encuesta:hover {
  outline: none;
  border-bottom: 0.5px solid #444;
}
.item-preg {
  outline: none;
  border-bottom: 0;
  font-size: 1rem;
  transition: border-bottom 0.1s linear;
}
.item-preg:focus {
  outline: none;
  border-bottom: 2px solid #428bca !important;
}
.item-preg:hover {
  outline: none;
  border-bottom: 0.5px solid #444;
}
.outline-none {
  outline: none;
}

#canvasContainer {
  margin-top: 30px;
  margin-bottom: 365px;
  position: relative;
  width: 98%;
}

.canvas[id^='bar'] {
  display:inline;
  float: left;
  width: 46%;
  height: 100%;
}

.canvas[id^='donut'] {
  display:inline;
  float: left;
  margin-left: 2%;
  width: 50%;
  height: 100%;
}

#chart-title {
  width: 50%;
  float: left;
}