{% extends "layout.html" %} {%block scripts%}
<script
  defer
  src="{{url_for('static', filename='javascript/editar_encuesta.js')}}"
></script>
{%endblock scripts%} {% block content %}
<!-- Título -->
<input id="encuesta_{{encuesta.id}}" type="text" class="title-encuesta w-100 border-left-0 border-right-0 border-top-0 bg-transparent outline-none h2" value = '{{encuesta.title}}'/>
   
{%if encuesta.estado == "publicada"%}
<button
  type="button"
  class="btn btn-danger btn-sm m-1"
  data-toggle="modal"
  data-target="#deleteModal"
>
  Cerrar encuesta # {{ encuesta.id }}
</button>
{%endif%} 
{%if encuesta.estado == "creada"%}
<form
  action="{{ url_for('publicar_encuesta', encuesta_id=encuesta.id, total_pregs = total_pregs, bool_items = bool_items) }}"
  method="POST"
>
  <input
    class="btn btn-success"
    type="submit"
    value="Publicar encuesta # {{ encuesta.id }}"
  />
</form>
{%endif%}

<!-- TEST JAVASCRIPT AND FLASK -->
{%for pregunta in preguntas%}
<div class="d-flex" id="container_of_{{pregunta.id}}">
  
  <div class="content-section w-85">
  <fieldset class="form-group mb-2">
    <input id="pregunta_{{pregunta.id}}" type="text" class="pregunta-encuesta w-100 border-left-0 border-right-0 border-top-0 bg-transparent outline-none" value = '{{pregunta.title}}'/>
  </fieldset>
  <ul id="list_of_{{pregunta.id}}" class="list-unstyled d-flex gap-3 flex-column">
    {%for item in items%} {%if pregunta.id == item.pregunta_id%}
    <li id="{{item.id}}"class="d-flex gap-3 align-items-center">
      <ion-icon name="ellipse-outline"></ion-icon>
      <input id="input_{{pregunta.id}}-item_{{item.id}}" type="text" class="item-preg w-85 border-left-0 border-right-0 border-top-0" value = '{{item.description}}'/>
      <ion-icon
        onclick="delete_item('{{pregunta.id}}','{{item.id}}',true);"
        id="close_{{pregunta.id}}-item_{{item.id}}"
        class="text-white bg-danger"
        name="close-outline"
      ></ion-icon>
    </li>

    {%endif%} {%endfor%}
  </ul>
  {%if encuesta.estado == "creada"%}
  <button
    class="d-block p-1 bg-info text-white text-center w-25"
    onclick="add_input_form('{{pregunta.id}}');"
  >Añadir Item</button>

  {%endif%}
  </div>
  <div class="content-section p-0 d-flex flex-column ">
    <div class="h-50 p-3   d-flex  align-items-center border-bottom">
      <ion-icon  onclick="delete_pregunta('{{pregunta.id}}', '{{encuesta.id}}')" name = "trash"></ion-icon>
    </div>
    
    <div class="h-50 p-3 d-flex  align-items-center">
      <ion-icon class onclick="" name = "color-wand-outline"></ion-icon>
    </div>
  </div>
</div>
{%endfor%}

{%if encuesta.estado == "creada"%}
<a id="addPregunta" class="d-block  p-2 bg-primary text-white text-center"
   onclick="add_pregunta('{{encuesta.id}}')">Añadir Pregunta</a>
{%endif%}

<!-- Modal -->
<div
  class="modal fade"
  id="deleteModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="deleteModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">
          Desea cerrar la encuesta # {{ encuesta.id }}?
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <form
          action="{{ url_for('cerrar_encuesta', encuesta_id=encuesta.id) }}"
          method="POST"
        >
          <input class="btn btn-danger" type="submit" value="Confirmar" />
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


    <!--
    onclick="add_item('{{pregunta.id}}');"
    --