{% extends "layout.html" %} 
{% block content %}
    <div class = "content-section">
        <div class = "media">
            <img class = "rounded-circle account-img" src = "{{image_file}}">
            <div class = "media-body">
                <h2 class = "account-heading">Perfil de {{current_user.username}}</h2>
                <p class = "text-secondary">{{current_user.email}}</p>
            </div>
        </div>
    </div>
    <h3 class="border-bottom mb-2">Encuestas creadas por {{current_user.username}}</h3>
    {% for encuesta in encuestas %}
    <article class="media content-section">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">
                    created at: {{encuesta.date_created.strftime('%d-%m-%Y %H:%M')}}
                </small>
                <small class="text-muted">
                    estado: {{encuesta.estado}}
                    
                </small>
            </div>
                <h2>
                    <a class="article-title"
                       href="{{ url_for('encuesta', encuesta_id=encuesta.id)}}">{{ encuesta.title }}</a>
                </h2>
                <small class="text-muted">
                    autor: {{encuesta.user_id}}
                </small>
            </div>
          
        </article>
        {% endfor %}
{% endblock content %}